<%= form_for @user do%>
	<h1>Please enter your password:</h1>

	

		<div class="field">
		<%= label_tag :entered_password, 'Password:' %>
		<%= password_field_tag :entered_password, params[:entered_password] %>
	</div>

	<div class="action">
		<%= submit_tag "Enter", :value => params[:entered_password] %>
	</div>

<% end %>